<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="DBCS" providerName="System.Data.SqlClient" connectionString="server=DESKTOP-CKU87KC\SQLSRV2012; database=Sample; user id=SA; password=P@$$w0rd;"/>
  </connectionStrings>

</configuration>
